header {
    background-color: #1F1F1F;
}

main {
    background-color: rgba(212, 195, 162, 0.39);
}

.nav-link:focus,
.nav-link.active {
    color: #87929c !important; 
    background-color: transparent !important;
    box-shadow: none !important;
}

header a.nav-link {
    color: #4a8ff7;
}
header a.nav-link:hover {
    color: #7FB9FF;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff !important;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

main > section {
   padding: 2rem 0;
   text-align: center;
}

@media (max-width: 1400px) {
.saiba-container {
    margin-top: 50px;
    margin-left: 0;      
    justify-content: center; 
    flex-wrap: wrap;
}
     .saiba {
        width: 100%;
    }
}

.btn-primary {
    margin-top: -4px;   
    border-radius: 7px !important;
    padding: 0px 10px 0px 10px !important; 
    transition: 0.3s ease;
}

.btn-dark {
    margin-top: -4px;   
    border-radius: 7px !important;
    padding: 0px 10px 0px 10px !important; 
    transition: 0.3s ease;
}

.sobre {
    text-align: left;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.my-card {
    background-color: #272727;
    border: 1px solid #2a2a2a;
    transition: 0.3s ease;
}

.my-card:hover {
    background-color: #413e3e;
    border-color: #acacac;
    box-shadow: 0 0 15px rgba(243, 245, 245, 0.25);
    transform: translateY(-6px);
}

.cursos {
     padding-bottom: 0px;
     margin-top: 0px;
}

.form-box {
    max-width: 500px;
    margin-left: 0px; 
}

.form-box > h1 {
    text-align: left;
    
    margin-top: 0px;
    margin-bottom: 50px;
}

.form-control:focus,
.form-control:focus-within {
    border-color: #00000057;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.192); 
}

.cont-btn {
    background-color: rgb(13, 109, 253); 
    border-radius: 8px;
    margin-top: 20px;
}

.cont-btn:hover {
    background-color: #4f9eff; 
}

.footer {
    background: linear-gradient(to bottom, #3a3838, #0f0f0f);
    color: #cccccc;
    border-top: 1px solid #2a2a2a;
    margin-top: 0px;
}

.footer-title {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 600;
}

.footer-text {
    color: #b5b5b5;
    font-size: 0.95rem;
    line-height: 1.5;
}

.footer-subtitle {
    font-size: 1.1rem;
    color: #eaeaea;
    margin-bottom: 8px;
}

.footer-contact {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.footer-link {
    color:  rgb(13, 109, 253);
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-link:hover {
    color: #6e82f1;
}

.footer-icon img {
    transition: 0.3s ease;
    filter: brightness(0.9);
}

.footer-icon img:hover {
    transform: translateY(-4px);
    filter: brightness(1.4);
}

.footer-divider {
    border-color: #3b3b3b;
}

.footer-copy {
    font-size: 0.8rem;
    color: #7a7a7a;
}

.insta {
    margin-top: -3px;
}